.document__main-text {
  font-family: "OpenSans", "Arial", sans-serif;
  padding-top: 20px;
  color: black;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
  font-size: 24px;
}

.document__base-text {
  text-align: left;
  color: black;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.document__top-text {
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}

.document__top-text-main {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}

.document__base-text-main {
  text-align: center;
  color: black;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}
