.contact {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#map {
  width: 100%;
  height: 200px;
}

.contact-text {
  padding-top: 20px;
  color: black;
  width: 222px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
  font-size: 24px;
}

.contact-map__wrapper {
  width: 100%;
  position: relative;
}


.contact-map__inner {
  width: 100%;
  margin: 0 auto;
}


.contact-item a {
  color: #d22856;
  list-style: none;
  text-decoration: none;
  height: 22px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  text-align: left;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}

.contact-item b {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  list-style: none;
}

.contact-item {
  color: black;
  list-style: none;
  margin-bottom: 31px;
  text-align: center;
}

.contact-item:first-child {
  margin-top: -13px;
}

.contact-map {
  width: 100%;
  height: 200px;
  background-size: 100%, 100%;
  margin: 0 auto;

}

.contact__academy-link:hover {
  color: #283645;
}

.contact__academy-link:active {
  color: rgba(40, 54, 69, 0.3);
}

@media (min-width: @tablet-width) {
  .contact {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    margin-bottom: 30px;
  }

  #map {
    height: 400px;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-list {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 0;
  }

  .contact-text {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 69px;
    font-size: 40px;
  }

  .contact-item {
   text-align: center;
    width: 50%;
    margin-bottom: 73px;
    margin-left: 0;
    line-height: 41px;
    margin-top: -21px;
  }

  .contact-map {
    height: 300px;
    margin: 0 auto;
    margin-top: -42px;
  }

  .contact-list {
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .contact {
    margin: 0 auto;
    text-align: center;
  }

  #map {
    height: 400px;
  }

  .contact-list {
    width: 960px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 0;
  }

  .contact-text {
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 70px;
    font-size: 50px;
  }

  .contact-map {
    width: 100%;
    margin: 0 auto;
  }

  .contact-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: nowrap;
  }

  .contact-item {
    text-align: left;
    width: auto;
  }

  .contact-item--two {
    order: 1;
  }

  .contact-item--one {
    order: 2;
  }
}
