.tablet__static {
  width: 320px;
  position: relative;
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 36px;
  padding-top: 70px;
}

.tablet__main-section {
  width: 1200px;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
}

.tablet-cell {
  border-spacing: 5px;
}

.tablet-element {
  width: 100px;
  padding-left: 22px;
  border: 2px outset rgba(250, 255, 255, 0.3);
  border-spacing: 5px;
  color: black;
  padding: 15px;
}

.tablet-header {
  width: 100px;
  padding-left: 22px;
  border: 2px solid white;
  border-spacing: 5px;
}

.tablet-slider {
  width: 1100px;
  text-align: right;
  margin: 0 auto;
  background-color: white;
  border: 2px outset rgba(250, 255, 255, 0.3);
  border-spacing: 5px;
}

.tablet-header {
  background-color: #283645;
  color: white;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.tablet-row {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.tablet-cross {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.tablet-on {
  margin-top: 5px;
}

.controls-tablet {
  position: relative;
  margin: 0 auto;
  margin-top: 32px;
}

.tablet-price {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .tablet__static {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    margin-top: 70px;
    margin-bottom: 46px;
    background-color: #ececec;
    padding-bottom: 76px;
    padding-top: 29px;
  }

  .slide-tablet {
    padding-bottom: 0;
  }

  .tablet-slider {
    padding-top: 20px;
    width: 750px;
    text-align: right;
  }

  .tablet-slider__static {
    border-collapse: collapse;
    transform: translateX(0);
  }

  .tablet-cell {
    padding: 0;
    width: 106px;
  }

  .tablet-element {
    padding: 10px;
    width: 250px;
  }

  .tablet-header {
    padding: 0;
    width: 106px;
  }

  .tablet-text {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 2px;
    text-transform: none;
  }

  .tablet-text--main {
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }

  .tablet-price {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .controls-tablet {
    display: none;
  }

  .tablet__wrapper {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .tablet__static {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    margin-bottom: 75px;
    background-color: #ececec;
    padding-bottom: 88px;
    padding-top: 80px;
    margin-top: 80px;
  }

  .tablet-cell {
    padding: 0;
    width: 234px;
  }

  .tablet-element {
    word-wrap: break-spaces;
    padding: 15px;
    width: 234px;
  }

  .tablet-header {
    padding: 0;
    width: 234px;
  }

  .tablet-slider {
    width: 936px;
    margin-top: -65px;
  }

  .tablet-text--disabled {
    display: none;
  }

  .tablet-text__filters {
    padding-left: 20px;
  }

  .tablet-text {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    margin-left: 18px;
    margin-bottom: 11px;
  }

  .tablet-text--main {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
  }

  .tablet-price {
    text-align: center;
    font-weight: normal;
    line-height: 1.25;
  }

  .tablet-element--active {
    background-position-y: 20px;
    background-position-x: 100px;
  }

  .tablet-element--disabled {
    background-position-y: 14px;
    background-position-x: 102px;
  }
}
