.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container__document {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


@media (min-width: @tablet-width) {
  .container {
    max-width: 870px;
    display: flex;
    flex-wrap: wrap;
  }

  .container__document {
    max-width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 960px;
    display: flex;
    flex-wrap: nowrap;
  }

  .container__main-menu {
    width: 940px;
    position: relative;
    margin: 0 auto;
  }

  .container__clock {
    background-color: #ececec;
  }

  .container_menu-background {
    background-color: white;
  }

  .container__document {
    max-width: 960px;
  }
}
