body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  background: #ececec;
  color: white;
  user-select:none;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
