body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  background: #ececec;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container__document {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 660px) {
  .container {
    max-width: 870px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container__document {
    max-width: 660px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .container__main-menu {
    width: 940px;
    position: relative;
    margin: 0 auto;
  }
  .container__clock {
    background-color: #ececec;
  }
  .container_menu-background {
    background-color: white;
  }
  .container__document {
    max-width: 960px;
  }
}
.page-header {
  background: #283645;
}
.page-header__wrapper {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .page-header {
    background: #283645;
    background-size: cover;
  }
  .page-header__wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .page-header__wrapper--active {
    background: none;
  }
}
@media (min-width: 960px) {
  .page-header .page-header--active {
    border: none, #283645;
    margin: 0 auto;
  }
  .page-header__wrapper {
    width: auto;
    overflow: hidden;
  }
}
.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.site-list a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  display: block;
  padding-bottom: 28px;
  padding-top: 31px;
  line-height: 3px;
  color: black;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
.site-list ul {
  margin-left: auto;
}
.site-list a:hover {
  color: #d22856;
}
.site-list a:active {
  color: white;
  opacity: 0.3;
}
.site-list__item--active {
  border-bottom: none;
}
.site-list__icon-copyright {
  fill: #d22856;
}
.site-list__icon-copyright:hover {
  fill: black;
}
.site-list__icon-copyright:active {
  fill: #000000;
  opacity: 0.3;
}
.site-list__item {
  line-height: 1.78;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
}
.site-list__icon-comb {
  fill: #d22856;
}
.site-list__icon-copyright {
  width: 34px;
  height: 27px;
  position: relative;
  top: 7px;
}
@media (min-width: 660px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-list a {
    padding-top: 31px;
    padding-bottom: 29px;
  }
}
@media (min-width: 960px) {
  .site-list {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    margin-left: auto;
  }
  .site-list a {
    text-transform: none;
  }
  .site-list__item {
    margin-right: 57px;
    background: none;
  }
  .site-list__item--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: white;
    line-height: 32px;
    border-bottom: 2px solid black;
    margin-bottom: 39px;
  }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    color: black;
    background: none;
    border: none;
  }
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: auto;
  min-height: 51px;
  background-color: white;
}
.main-nav__img-logo {
  padding-right: 20px;
}
.main-nav__wrapper-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  padding-left: 22px;
  padding-bottom: 25px;
  padding-top: 3px;
}
.main-nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 10px;
}
.main-nav__toggle {
  position: relative;
  z-index: 2;
  top: 10px;
  outline: 0;
  display: block;
  background: none;
  padding-right: 20px;
  cursor: pointer;
  border: none;
}
.main-nav__toggle--first path:hover {
  fill: #d22856;
}
.main-nav__toggle--last path:hover {
  fill: #d22856;
}
.main-nav__toggle--first path:active {
  opacity: 0.3;
  fill: #d22856;
}
.main-nav__toggle--last path:active {
  opacity: 0.3;
  fill: #d22856;
}
.main-nav--closed .main-nav__toggle--closed {
  display: none;
}
.main-nav--opend .main-nav__toggle--opened {
  display: none;
}
.main-nav__hard-text {
  display: block;
  width: 296px;
  bottom: 50px;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
}
@media (min-width: 660px) {
  .main-nav {
    position: relative;
    width: auto;
    min-height: 51px;
    background-color: white;
  }
  .main-nav__toggle {
    text-align: right;
    position: relative;
    z-index: 2;
    outline: 0;
    display: block;
    background: none;
    cursor: pointer;
    border: none;
    padding-right: 30px;
  }
  .main-nav--closed .main-nav__toggle--closed {
    display: none;
  }
  .main-nav--opened .main-nav__toggle--opened {
    display: none;
  }
}
@media (min-width: 660px) {
  .main-nav__hard-text {
    display: block;
    width: 185px;
    bottom: 0;
    margin-left: 77px;
    font-size: 40px;
  }
}
@media (max-width: 959px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--closed {
    background-color: white;
  }
  .main-nav--opened {
    background-color: #283645;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav {
    background-color: #283645;
  }
}
@media (min-width: 960px) {
  .main-nav__hard-text {
    display: block;
    margin-bottom: 71px;
    width: 228px;
    bottom: 0;
    font-size: 50px;
    font-weight: normal;
    margin-left: 48px;
  }
  .main-nav {
    background: none;
  }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 960px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 20px;
  }
}
.main-info__font-text {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 82px;
}
.main-info__background {
  padding-top: 20px;
  background-image: url("../img/back.jpg");
  background-position: top;
}
@media (min-width: 660px) {
  .main-info__font-text {
    width: 476px;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 142px;
  }
}
@media (min-width: 960px) {
  .main-info__font-text {
    width: 750px;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 47px;
    padding-bottom: 102px;
  }
}
.tablet__static {
  width: 320px;
  position: relative;
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 36px;
  padding-top: 70px;
}
.tablet__main-section {
  width: 1200px;
}
.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tablet-cell {
  border-spacing: 5px;
}
.tablet-element {
  width: 100px;
  padding-left: 22px;
  border: 2px outset rgba(250, 255, 255, 0.3);
  border-spacing: 5px;
  color: black;
  padding: 15px;
}
.tablet-header {
  width: 100px;
  padding-left: 22px;
  border: 2px solid white;
  border-spacing: 5px;
}
.tablet-slider {
  width: 1100px;
  text-align: right;
  margin: 0 auto;
  background-color: white;
  border: 2px outset rgba(250, 255, 255, 0.3);
  border-spacing: 5px;
}
.tablet-header {
  background-color: #283645;
  color: white;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
.tablet-row {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}
.tablet-cross {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
.tablet-on {
  margin-top: 5px;
}
.controls-tablet {
  position: relative;
  margin: 0 auto;
  margin-top: 32px;
}
.tablet-price {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
}
@media (min-width: 660px) {
  .tablet__static {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    margin-top: 70px;
    margin-bottom: 46px;
    background-color: #ececec;
    padding-bottom: 76px;
    padding-top: 29px;
  }
  .slide-tablet {
    padding-bottom: 0;
  }
  .tablet-slider {
    padding-top: 20px;
    width: 750px;
    text-align: right;
  }
  .tablet-slider__static {
    border-collapse: collapse;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .tablet-cell {
    padding: 0;
    width: 106px;
  }
  .tablet-element {
    padding: 10px;
    width: 250px;
  }
  .tablet-header {
    padding: 0;
    width: 106px;
  }
  .tablet-text {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 2px;
    text-transform: none;
  }
  .tablet-text--main {
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .tablet-price {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    line-height: 1.25;
    text-transform: uppercase;
  }
  .controls-tablet {
    display: none;
  }
  .tablet__wrapper {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .tablet__static {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    margin-bottom: 75px;
    background-color: #ececec;
    padding-bottom: 88px;
    padding-top: 80px;
    margin-top: 80px;
  }
  .tablet-cell {
    padding: 0;
    width: 234px;
  }
  .tablet-element {
    word-wrap: break-spaces;
    padding: 15px;
    width: 234px;
  }
  .tablet-header {
    padding: 0;
    width: 234px;
  }
  .tablet-slider {
    width: 936px;
    margin-top: -65px;
  }
  .tablet-text--disabled {
    display: none;
  }
  .tablet-text__filters {
    padding-left: 20px;
  }
  .tablet-text {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    margin-left: 18px;
    margin-bottom: 11px;
  }
  .tablet-text--main {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
  }
  .tablet-price {
    text-align: center;
    font-weight: normal;
    line-height: 1.25;
  }
  .tablet-element--active {
    background-position-y: 20px;
    background-position-x: 100px;
  }
  .tablet-element--disabled {
    background-position-y: 14px;
    background-position-x: 102px;
  }
}
.contact {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#map {
  width: 100%;
  height: 200px;
}
.contact-text {
  padding-top: 20px;
  color: black;
  width: 222px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
  font-size: 24px;
}
.contact-map__wrapper {
  width: 100%;
  position: relative;
}
.contact-map__inner {
  width: 100%;
  margin: 0 auto;
}
.contact-item a {
  color: #d22856;
  list-style: none;
  text-decoration: none;
  height: 22px;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}
.contact-item b {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  list-style: none;
}
.contact-item {
  color: black;
  list-style: none;
  margin-bottom: 31px;
  text-align: center;
}
.contact-item:first-child {
  margin-top: -13px;
}
.contact-map {
  width: 100%;
  height: 200px;
  background-size: 100%, 100%;
  margin: 0 auto;
}
.contact__academy-link:hover {
  color: #283645;
}
.contact__academy-link:active {
  color: rgba(40, 54, 69, 0.3);
}
@media (min-width: 660px) {
  .contact {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    margin-bottom: 30px;
  }
  #map {
    height: 400px;
  }
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    padding-left: 0;
  }
  .contact-text {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 69px;
    font-size: 40px;
  }
  .contact-item {
    text-align: center;
    width: 50%;
    margin-bottom: 73px;
    margin-left: 0;
    line-height: 41px;
    margin-top: -21px;
  }
  .contact-map {
    height: 300px;
    margin: 0 auto;
    margin-top: -42px;
  }
  .contact-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 960px) {
  .contact {
    margin: 0 auto;
    text-align: center;
  }
  #map {
    height: 400px;
  }
  .contact-list {
    width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding-left: 0;
  }
  .contact-text {
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 70px;
    font-size: 50px;
  }
  .contact-map {
    width: 100%;
    margin: 0 auto;
  }
  .contact-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contact-item {
    text-align: left;
    width: auto;
  }
  .contact-item--two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact-item--one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}
.social__item {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 3px solid #ebebeb;
  margin-left: 20px;
}
.social__item:hover {
  border: 3px solid #000;
}
.social__item:active {
  opacity: 0.3;
}
.footer {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.footer__disable {
  display: none;
}
.footer__copyright-text {
  width: 111px;
  height: 19px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #283645;
}
.footer__footer-logo {
  width: 146px;
}
.footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__footer-logo:hover {
  color: #d22856;
}
.footer__footer-logo:active {
  opacity: 0.3;
}
@media (min-width: 660px) {
  .footer {
    display: block;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__footer-logo {
    margin: 0;
  }
  .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 960px) {
  .footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__wrapper {
    margin-top: 70px;
    margin-bottom: 87px;
  }
}
.social-photo {
  width: 15px;
  margin-right: 17px;
  border: 2px solid #283645;
  border-radius: 20px;
  padding: 10px;
}
.social-photo__academy {
  width: 15px;
  margin-left: 15px;
  padding: 10px;
}
.document__main-text {
  font-family: "OpenSans", "Arial", sans-serif;
  padding-top: 20px;
  color: black;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
  font-size: 24px;
}
.document__base-text {
  text-align: left;
  color: black;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.document__top-text {
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}
.document__top-text-main {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
}
.document__base-text-main {
  text-align: center;
  color: black;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a.active {
  background-color: black;
  color: white;
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
