.page-header {
  background: #283645;
}

.page-header__wrapper {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    background: #283645;
    background-size: cover;
  }

  .page-header__wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .page-header__wrapper--active {
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header .page-header--active {
    border: none, #283645;
    margin: 0 auto;
  }

  .page-header__wrapper {
    width: auto;
    overflow: hidden;
  }
}
