.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  width: auto;
  min-height: 51px;
  background-color: white;
}

.main-nav__img-logo {
  padding-right: 20px;
}

.main-nav__wrapper-logo {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding-left: 22px;
  padding-bottom: 25px;
  padding-top: 3px;
}

.main-nav__logo {
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
}

.main-nav__toggle {
  position: relative;
  z-index: 2;
  top: 10px;
  outline: 0;
  display: block;
  background: none;
  padding-right: 20px;

  cursor: pointer;
  border: none;
}

.main-nav__toggle--first path:hover {
  fill: #d22856;
}

.main-nav__toggle--last path:hover {
  fill: #d22856;
}

.main-nav__toggle--first path:active {
  opacity: 0.3;
  fill: #d22856;
}

.main-nav__toggle--last path:active {
  opacity: 0.3;
  fill: #d22856;
}

.main-nav--closed .main-nav__toggle--closed {
  display: none;
}

.main-nav--opend .main-nav__toggle--opened {
  display: none;
}

.main-nav__hard-text {
  display: block;
  width: 296px;
  bottom: 50px;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    position: relative;

    width: auto;
    min-height: 51px;

    background-color: white;
  }


  .main-nav__toggle {
    text-align: right;
    position: relative;
    z-index: 2;
    outline: 0;

    display: block;
    background: none;

    cursor: pointer;
    border: none;
    padding-right: 30px;
  }

  .main-nav--closed .main-nav__toggle--closed {
    display: none;
  }

  .main-nav--opened .main-nav__toggle--opened {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__hard-text {
    display: block;
    width: 185px;
    bottom: 0;
    margin-left: 77px;
    font-size: 40px;
  }
}

@media (max-width: @mobile-tablet-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }

  .main-nav--closed {
    background-color: white;
  }

  .main-nav--opened {
    background-color: #283645;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;

    text-align: left;
  }

  .main-nav--nojs .main-nav {
    background-color: #283645;
  }
}


@media (min-width: @desktop-width) {
  .main-nav__hard-text {
    display: block;
    margin-bottom: 71px;
    width: 228px;
    bottom: 0;
    font-size: 50px;
    font-weight: normal;
    margin-left: 48px;
  }

  .main-nav {
    background: none;
  }

  .main-nav__wrapper {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
}

