.main-info__font-text {
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 82px;
}

.main-info__background {
  padding-top: 20px;
  background-image: url("../img/back.jpg");
  background-position: top;
}

@media (min-width: @tablet-width) {
  .main-info__font-text {
    width: 476px;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 142px;
  }
}

@media (min-width: @desktop-width) {
  .main-info__font-text {
    width: 750px;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 47px;
    padding-bottom: 102px;
  }

}
